<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="usyd.mingyi.animalcare.mapper.UserMapper">
    <select id="queryUser" resultMap="userInfo">
        SELECT *
        FROM user AS u
        LEFT JOIN post AS po ON u.id = po.post_user_id
        LEFT JOIN pet AS pe ON u.id = pe.pet_user_id
        LEFT JOIN image as im on po.post_id=im.image_post_id
        WHERE u.username = #{username} and u.password = #{password}
    </select>

    <select id="getProfile" resultMap="userInfo">
        SELECT *
        FROM user AS u
                 LEFT JOIN post AS po ON u.id = po.post_user_id
                 LEFT JOIN pet AS pe ON u.id = pe.pet_user_id
                 LEFT JOIN image as im on po.post_id=im.image_post_id
        WHERE u.id = #{userId}
    </select>


    <resultMap id="userInfo" type="User">
        <result property="id" column="id"/>
        <result property="userName" column="username"/>
        <result property="nickName" column="nickname"/>
        <result property="description" column="description"/>
        <result property="email" column="email"/>
        <result property="uuid" column="uuid"/>
        <result property="userImageAddress" column="user_image_address"/>
        <collection property="postList" ofType="Post">
            <result property="postId" column="post_id"/>
            <result property="topic" column="topic"/>
            <result property="userId" column="post_user_id"/>
            <result property="love" column="love"/>
            <collection property="imageUrlList" ofType="String">
                <result column="image_url"/>
            </collection>
        </collection>
        <collection property="petList" ofType="Pet">
            <result property="petId" column="pet_id"/>
            <result property="petName" column="name"/>
            <result property="category" column="category"/>
            <result property="petImageAddress" column="pet_image_address"/>
        </collection>
    </resultMap>

    <insert id="addUser" parameterType="User">
          insert into user (username,password,uuid,email,user_image_address,nickname) values (#{userName},#{password},#{uuid},#{email},#{userImageAddress},#{nickName})
    </insert>

    <select id="queryPassword" parameterType="String" resultType="String">
        select password from user where username = #{username}
    </select>

    <update id="updateUser" parameterType="User">
        update user
        set  email = #{email}, nickname = #{nickName}, description = #{description}<if test="userImageAddress !=null and userImageAddress !=''">,user_image_address = #{userImageAddress}</if>
        where id = #{id};
    </update>

    <select id="queryUserByUsername" resultType="User">
        select * from user where username = #{username}
    </select>

    <select id="queryUserById" resultType="User">
        select * from user where id = #{userId}
    </select>

    <update id="updatePassword">
        update user
        set password=#{password}
        where username = #{username}
    </update>

</mapper>